/* 
cream: #FFF7E8
dark brown: #241C1A
pink: #E8A0AE
blush: #F8D9DF
orange: #D97757
yellow: #E8C46A
sage: #A7AD8A
border: #4A3530
*/
* {
    box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", sans-serif;
}

h1, h2, h3 {
    font-family: Georgia, serif;
}
.gifs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shinee-gif,
.core-gif,
.britney-gif {
    display: flex;
    align-content: center;
    width: 15%;
    max-width: 20%;
    height: auto;
    object-fit: cover;
}
.profile-nav {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #E8A0AE;
    width: 40%;
}
.profile-nav p {
    font-weight: bold;
    color:#4A3530;
    font-size: 18px;
    padding: 10px;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0px;
}
.nav-links li a {
    text-decoration: none;
    color: #4A3530;
}
.nav-links li a:hover {
    text-decoration: wavy underline;
    text-decoration-color:#4A3530;
}
.nav-links li a image{
    width: 30px;
    height: 30px;
}
.twitter-logo-link img{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    object-fit: contain;

    margin: auto;
}
.twitter-logo-link img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.profile-content-container {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
}
.byf {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40%;
    margin: auto;
    
}
.byf h2 {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 8px;
    margin-top: 8px;
}
.byf p {
    font-size: 16px;
    color: #4A3530;
    font-size: 16px;
    color: #4A3530;
    margin-bottom: 1px;
    border-style:dashed ;
    border-width: 1px;
    padding: 5px;
}
.dnfi {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40%;
    margin: auto;
}
.dnfi h2 {
    font-size: 24px;
    padding: 5px;
    border: 1px solid #4A3530;
    margin-bottom: 1px;
}
.dnfi p {
    font-size: 16px;
    color: #4A3530;
    margin-bottom: 1px;
    border-style:dashed ;
    border-width: 1px;
    padding: 5px;
}
/* add grid here */

.music-interests {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40%;
    margin: auto;
}
.music-interests h2 {
    font-size: 24px;
    padding: 5px;
    border: 1px solid #4A3530;
    margin-bottom: 1px;
}
.music-interests h3 {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #4A3530;
    margin-bottom: 1px;
}
.music-interests p {
    font-size: 16px;
    color: #4A3530;
    margin-bottom: 1px;
    border-style:dashed ;
    border-width: 1px;
    padding: 5px;
}
.music-interests span {
    font-weight: bold;
}

.streamer-youtube-interests {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40%;
    margin: auto;
}
.streamer-youtube-interests h3 {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #4A3530;
    margin-bottom: 1px;
}
.streamer-youtube-interests p {
    font-size: 16px;
    color: #4A3530;
    margin-bottom: 1px;
    border-style:dashed ;
    border-width: 1px;
    padding: 5px;
}
.streamer-youtube-interests span {
    font-weight: bold;
}

.game-interests {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40%;
    margin: auto;
}
.game-interests h3 {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #4A3530;
    margin-bottom: 1px;
}
.game-interests p {
    font-size: 16px;
    color: #4A3530;
    margin-bottom: 1px;
    border-style:dashed ;
    border-width: 1px;
    padding: 5px;
}
.game-interests span {
    font-weight: bold;
}

.movie-tv-interests {
    border: 1px solid #4A3530;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40%;
    margin: auto;
}
.movie-tv-interests h3 {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #4A3530;
    margin-bottom: 1px;
}
.movie-tv-interests p {
    font-size: 16px;
    color: #4A3530;
    margin-bottom: 1px;
    border-style:dashed ;
    border-width: 1px;
    padding: 5px;
}
.movie-tv-interests span {
    font-weight: bold;
}

.logos-link {
    border: 1px solid #4A3530;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 8px;
    width: 40%;
    margin: auto;
}
.Letterboxd-logo-link,
.Simkl-logo-link,
.Spotify-logo-link {
    width: 100px;
    text-align: center;
}

.Letterboxd-logo-link a img{
    width: 60%;
    height: auto;
}
.Letterboxd-logo-link a img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.Simkl-logo-link a img{
    width: 40%;
    height: auto;
}
.Simkl-logo-link a img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.Spotify-logo-link a img{
    width: 40%;
    height: auto;
}
.Spotify-logo-link a img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}




